.carousel {
    display: flex;
    overflow-x: scroll;
    padding: 20px;
  }
  
  .carouselItem {
    flex: 0 0 auto;
    width: 300px;
    margin-right: 20px;
    cursor: pointer;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .carouselImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }
  
  .carouselTitle {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: white;
    font-size: 18px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
  }
  